# git ignore file for the PV+IN standard hippounit repo 

README_from_me_to_me
validation_results_TEST
visualization/figures_MOUSE/Finalscore_plot
visualization/figures_MOUSE/Nan_vs_Finalscore_plot/
visualization/figures_RAT/Finalscore_plot
visualization/figures_RAT/Nan_vs_Finalscore_plot/
notebooks/evaluating_model_soma_tests_ONE_model
notebooks/soma_test/TEST
docs
venv
